## Q NO 1:EXtend list

In [5]:



Maliha=7113
Ali=[10,-23,33,25,150,90,-71,33,45,33,54,63,69,74,78]
Ali.append(Maliha)
print(Ali)

[10, -23, 33, 25, 150, 90, -71, 33, 45, 33, 54, 63, 69, 74, 78, 7113]

##  insert -4500 at index 5

In [3]:
        
Ali=[10,-23,33,25,150,90,-71,33,45,33,54,63,69,74,78]
Ali.insert(5,-4500)
print(Ali)

[10, -23, 33, 25, 150, -4500, 90, -71, 33, 45, 33, 54, 63, 69, 74, 78]

## minimum value

In [10]:

print(min(Ali))

-4500

## print  Max value

In [13]:
           
print(max(Ali))

7113

## insert 56777 at end of list

In [21]:


Ali.append(56777)
print(Ali)

[10, -23, 33, 25, 150, -4500, -4500, -4500, -4500, 90, -71, 33, 45, 33, 54, 63, 69, 74, 78, 56777, 7113, 56777]

## print even number in array of even number

In [6]:
Ali=[10,-23,33,25,150,90,-71,33,45,33,54,63,69,74,78]
b=int(input('enter a number:'))
if(b%2==0):
    Ali.append(b)
for i in Ali:
    if (i%2==0):
        print(i,end=' ')

enter a number: 2

10 150 90 54 74 78 2

## print odd number in arrey of odd number

In [3]:
Ali=[10,-23,33,25,150,90,-71,33,45,33,54,63,69,74,78]
b=int(input('enter a number:'))
if(b%2!=0):
    Ali.append(b)
for i in Ali:
    if (i%2!=0):
        print(i,end=' ')

enter a number: 5

-23 33 25 -71 33 45 33 63 69 5

## print value those are positive

In [7]:
Ali=[10,-23,33,25,150,90,-71,33,45,33,54,63,69,74,78]
b=int(input('enter a number:'))
if(b>0):
    Ali.append(b)
for i in Ali:
    if (i>0):
        print(i,end=' ')

enter a number: 3

10 33 25 150 90 33 45 33 54 63 69 74 78 3

## print values negative number

In [1]:
Ali=[10,-23,33,25,150,90,-71,33,45,33,54,63,69,74,78]
b=int(input('enter a number:'))
if(b<0):
    Ali.append(b)
for i in Ali:
    if (i<0):
        print(i,end=' ')

enter a number: -3

-23 -71 -3

## sorted list

In [3]:
Ali=[10,-23,33,25,150,90,-71,33,45,33,54,63,69,74,78]
print(sorted(Ali))

[-71, -23, 10, 25, 33, 33, 33, 45, 54, 63, 69, 74, 78, 90, 150]

## lisit in decending order

In [4]:
Ali=sorted(Ali)
print(Ali[::-1])

[150, 90, 78, 74, 69, 63, 54, 45, 33, 33, 33, 25, 10, -23, -71]

## Acending order

In [5]:

Ali=sorted(Ali)
print(Ali)

[-71, -23, 10, 25, 33, 33, 33, 45, 54, 63, 69, 74, 78, 90, 150]

## positive number

In [11]:

for i in Ali:
    if(i>0):
        print(i,end=' ')

10 25 33 33 33 45 54 63 69 74 78 90 150

## negative number

In [12]:
for i in Ali:
    if(i<0):
        print(i,end=' ')

-71 -23

## multiplier of postive number

In [40]:
Ali=[10,-23,33,25,150,90,-71,33,45,33,54,63,69,74,78,7113]
for i in Ali:
    if(i>0):
        print(i*2/i,end=' ')       #  number*mutiplier=output (10*2=20)
                                   #  multiplier=output/number  (20/10=2)

2.0 2.0 2.0 2.0 2.0 2.0 2.0 2.0 2.0 2.0 2.0 2.0 2.0 2.0

## multiplier of negtive number

In [24]:
for i in Ali:
    if(i<0):
        print(i*3/i,end=' ')       # -23*3=-69
                                   # -69/-23=3

3.0 3.0

## power with last two digit

In [23]:
Ali=[10,-23,33,25,150,90,-71,33,45,33,54,63,69,74,78,7113]
for i in Ali:                                                
    print(i**13)

10000000000000
-504036361936467383
55040353993448503713
1490116119384765625
19461950683593750000000000000
25418658283290000000000000
-1165087474585497590531111
55040353993448503713
3102863559971923828125
55040353993448503713
33198531813531453579264
246278864694166156419903
803596764671634487466709
1995319084778138053812224
3955759092264800909058048
119312655862260684238404469556985106076864568848553

## acending order form lisit

In [21]:
Ali=[10000000000000,-504036361936467383,55040353993448503713,1490116119384765625,19461950683593750000000000000,25418658283290000000000000,-1165087474585497590531111,55040353993448503713,3102863559971923828125,55040353993448503713,33198531813531453579264,246278864694166156419903,803596764671634487466709,1995319084778138053812224,3955759092264800909058048,119312655862260684238404469556985106076864568848553]
Ali2=sorted(Ali)
print(Ali2)

[-1165087474585497590531111, -504036361936467383, 10000000000000, 1490116119384765625, 55040353993448503713, 55040353993448503713, 55040353993448503713, 3102863559971923828125, 33198531813531453579264, 246278864694166156419903, 803596764671634487466709, 1995319084778138053812224, 3955759092264800909058048, 25418658283290000000000000, 19461950683593750000000000000, 119312655862260684238404469556985106076864568848553]

# decending order form lisit

In [11]:
print(Ali2[::-1])

[119312655862260684238404469556985106076864568848553, 19461950683593750000000000000, 25418658283290000000000000, 3955759092264800909058048, 1995319084778138053812224, 803596764671634487466709, 246278864694166156419903, 33198531813531453579264, 3102863559971923828125, 55040353993448503713, 55040353993448503713, 55040353993448503713, 1490116119384765625, 10000000000000, -504036361936467383, -1165087474585497590531111]

## print num which is dividable by 5

In [22]:
for i in Ali2:
    if(i%5==0):
        print(i)

10000000000000
1490116119384765625
3102863559971923828125
25418658283290000000000000
19461950683593750000000000000

## remove duplicate values

In [2]:
Ali2=[-1165087474585497590531111, -504036361936467383, 10000000000000, 1490116119384765625, 55040353993448503713, 55040353993448503713, 55040353993448503713, 3102863559971923828125, 33198531813531453579264, 246278864694166156419903, 803596764671634487466709, 1995319084778138053812224, 3955759092264800909058048, 25418658283290000000000000, 19461950683593750000000000000, 119312655862260684238404469556985106076864568848553]
Ali3=[]
for i in Ali2:
    if i not in Ali3:
        Ali3.append(i)
print(Ali3)

[-1165087474585497590531111, -504036361936467383, 10000000000000, 1490116119384765625, 55040353993448503713, 3102863559971923828125, 33198531813531453579264, 246278864694166156419903, 803596764671634487466709, 1995319084778138053812224, 3955759092264800909058048, 25418658283290000000000000, 19461950683593750000000000000, 119312655862260684238404469556985106076864568848553]

In [15]:
fruits=["apple","banana",'mango','orange','grapes','pineapple','strawberry','watermelon','papaya','guava','cherry','peach','pear','kiwi','pomegrante','plum','lychee','apricot','coconut','blueberry']
for fruit in fruits:
    print(fruit,'=', len(fruit))

apple = 5
banana = 6
mango = 5
orange = 6
grapes = 6
pineapple = 9
strawberry = 10
watermelon = 10
papaya = 6
guava = 5
cherry = 6
peach = 5
pear = 4
kiwi = 4
pomegrante = 10
plum = 4
lychee = 6
apricot = 7
coconut = 7
blueberry = 9

## fruits have char equal to four

In [16]:
for fruit in fruits:
    if(len(fruit)==4):
        print(fruit)

pear
kiwi
plum

## print fruits have character > 5

In [17]:
for fruit in fruits:
    if(len(fruit)>5):
        print(fruit)

banana
orange
grapes
pineapple
strawberry
watermelon
papaya
cherry
pomegrante
lychee
apricot
coconut
blueberry

## print fruits have char 'a'

In [22]:
for fruit in fruits:
    if 'a' in fruit:
        print(fruit)

apple
banana
mango
orange
grapes
pineapple
strawberry
watermelon
papaya
guava
peach
pear
pomegrante
apricot

## print sorted list

In [21]:
print(sorted(fruits))

['apple', 'apricot', 'banana', 'blueberry', 'cherry', 'coconut', 'grapes', 'guava', 'kiwi', 'lychee', 'mango', 'orange', 'papaya', 'peach', 'pear', 'pineapple', 'plum', 'pomegrante', 'strawberry', 'watermelon']

## fruit with even number

In [20]:
for fruit in fruits:
    if(len(fruit)%2==0):
        print(fruit)

banana
orange
grapes
strawberry
watermelon
papaya
cherry
pear
kiwi
pomegrante
plum
lychee

## Q NO 3: Manipulate your AG number

## insert ag character by character in list 2020-ag-6660

In [1]:
A=[]
i=1
while(i<=12):
    a=input('enter a character:')
    A.append(a)
    i=i+1
    print(*A)

enter a character: 2

2

enter a character: 0

2 0

enter a character: 2

2 0 2

enter a character: 3

2 0 2 3

enter a character: -

2 0 2 3 -

enter a character: a

2 0 2 3 - a

enter a character: g

2 0 2 3 - a g

enter a character: -

2 0 2 3 - a g -

enter a character: 7

2 0 2 3 - a g - 7

enter a character: 1

2 0 2 3 - a g - 7 1

enter a character: 1

2 0 2 3 - a g - 7 1 1

enter a character: 3

2 0 2 3 - a g - 7 1 1 3

## print ag number in way @2023*-*ag*-*-*7113@

In [6]:
list='@2023*-*ag*-*-*7113@'
print(list)

@2023*-*ag*-*-*7113@

## Replace 2023 to 2030

In [34]:
A=['2023-ag-7113']
A[0:3]=='2030'
print(A)

['2023-ag-7113']